html{
    min-height: 100%;
    background-image: url("../images/Space5.jpg");
    background-repeat: no-repeat;
    /*background-position: center;*/
    /*background-size: cover;*/
}
body {
    min-height: 100%;
    background-image: url("../images/Space5.jpg");


}
.text{
    text-align: center;
}
.sidebar{
    color: white;
}
.text p{
    color: white;
}
.form-inline .card{
    height: 128px;
    margin-bottom: 10px;
}
.form-inline{
    margin: 0 auto;
    /*height: 100px;*/
}
#imgSearch{
    display: block;
    margin: 0 auto 10px auto;

}
.jumbotron {
    background: transparent;
}

.display-4 {
    font-family: 'Ultra', serif;
    text-shadow: white;
    font-size: 80px;
    color: white;
}
.lead {
    font-family: 'Teko', sans-serif;
    font-size: 45px;
    color: #c7c7c7;
}

.wrapper{
    font-size: 20px;
    color: white;
}
.btn {
    background: url("../images/Space33.jpg");
    border: thick;
}

.lightPollution {
    color: white;
}


/* FOOTER */
.panel-footer{
    position: static;
    color: white;
    background: transparent;
    border-top: solid black;
    text-align: center;
    font-size: large;
    line-height: 100px;
    bottom: 0;
}

div.sidebar {
    border-style: inset;
}