html {
height: 100%;
background-image: url("../images/Moon2.jpg");
}
body {
    background-image: url("../images/Space44.jpg");
    /* background-repeat: no-repeat; */
    min-height: 100%;
    background-size: 2500px;
}
.jumbotron {
    background: transparent;
    /* border-style: solid; */
}
.jumbotron h1{
    color: white;
}

.wrapper{
    font-size: 20px;
    color: white;
}
.btn {
    background: url("../images/Space33.jpg");
    border: thick;
}






/* FOOTER */
.panel-footer{
    /* position: static    ; */
    color: white;
    background: transparent;
    border-top: solid black;    
    text-align: center;
    font-size: large;
    /* line-height: 100px; */
    margin-top: 20%;
  }