.image {
    height: 300px;
    width: 300px;
    float: left;
}

#articleSearch {
    margin: 0 auto;
    text-align: center;
}

.card {
    background: red;
}

.card-header {
    background: darkred;
}

.btn {
    background: black;
    color: white;
}

.constellation {
    height: 250px;
    width: 350px;
}

.jumbotron {
    text-align: center;
    background: #888;
}.consGifCard{
    text-align: center;
}