#articleSearch {
    margin: 0 auto;
    text-align: center;
}

.card {
    background: #000000;
    color: #ffffff;
}

.target h1 {
    text-align: center;
}

.target h1 {
    color: white;
    text-align: center;
}

.constellation {
    height: 250px;
    width: 350px;
}

.consGifCard {
    text-align: center;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}