.image {
    height: 300px;
    width: 300px;
    float: left;
}

#articleSearch {
    margin: 0 auto;
    text-align: center;
}

.card {
    background: #000000;
    color: #ffffff;
}

.card-header {
    background: darkred;
}

.target h1{
    color: white;
    text-align: center;
}

.constellation {
    height: 250px;
    width: 350px;
}

.consGifCard{
    text-align: center;
}